{% extends 'base.html' %}

{% block title %}Analysis By Text{% endblock %}

{% block content %}
    <h3 class="text-center">Analysis of Text: {{ text }}</h3>
    {%  if similar_tweet|length > 0 %}
    <h4 class="text-danger">Similar Tweet Found!</h4>
	<div class="jumbotron row">
        <div class="col-1">
            <img src="{{ similar_tweet[0].user.profile_image_url_https }}" style="width: 100%; height: auto;" />
        </div>
        <div class="col-9">
            <p><span class="text-primary float-left">{{ similar_tweet[0].user.screen_name }}</span><code class="float-right">{{ similar_tweet[0].created_at }}</code></p>
            <div class="clearfix"></div>
            <p>{{ similar_tweet[0].full_text }}</p>
        </div>
        <div class="col-2">
            <a class="btn btn-block btn-danger twitter-share-button"
  href="https://twitter.com/intent/tweet?text=This%20tweet%20is%20stolen!">REPORT!</a>
        </div>
    </div>
    {%  else %}
    <h4 class="text-danger">No Similar Tweets Found!</h4>
    {%  endif %}
    {% if generated_sentences|length > 0 %}
    <h3 class="text-center">Generated Texts</h3>
    {% for generated_sentence in generated_sentences %}
	<div class="jumbotron row">
        <div class="col-10">{{ generated_sentence }}</div>
        <div class="col-2">
            <form action="{{  url_for('analysisbytext') }}" method="POST">
                <input name="text" type="hidden" class="form-control" value="{{ generated_sentence }}">
                <button type="submit" class="btn btn-danger">ANALYZE!</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <p class="text-center"><a href="{{  url_for('index') }}" class="btn btn-info">Search Again</a></p>
{% endblock %}