{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
	<div class="jumbotron">
    		<h1 class="text-center">Welcome to Tweet Originality Checker!</h1>
		<p>This tool is for checking a tweet's originalty. The response of this tool is labeled as either Original or Fake. Fake responses detailed with the origin of the base tweet.</p>
		<p>Also, this tool has a scraper robot which seeks under the heights of tweet mountains and acts as a Twitter police by detecting fake tweets and replying to them with the original tweet.</p>
    	</div>
{% endblock %}



