{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
	<div class="jumbotron">
        <h1 class="text-center">Welcome to Tweet Originality Checker!</h1>
		<p>This tool is for checking a tweet's originalty. The response of this tool is labeled as either Original or Fake. Fake responses detailed with the origin of the base tweet.</p>
		<p>Also, this tool has a scraper robot which seeks under the heights of tweet mountains and acts as a Twitter police by detecting fake tweets and replying to them with the original tweet.</p>
    {% if g.user %}
        <p class="text-center"><a class="btn btn-success" href="{{ url_for('index') }}">Analyze a Tweet</a></p>
    {% else %}
        <p class="text-center"><a class="btn btn-primary" href="{{ url_for('twitter.login') }}">Login with Twitter</a></p>
    {% endif %}
    </div>
    <h1 class="text-center">Latest Searches</h1>
    {% for tweet in tweets %}
	<div class="jumbotron row">
        <div class="col-1">
            <img src="{{ tweet[6] }}" style="width: 100%; height: auto;" />
        </div>
        <div class="col-11">
            <p><span class="text-primary float-left">{{ tweet[5] }}</span><code class="float-right">{{ tweet[3] }}</code></p>
            <div class="clearfix"></div>
            <p>{{ tweet[2] }}</p>
        </div>
     </div>
    {% endfor %}
{% endblock %}



